@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

/* главная---------------------------------------------------------- */

body {
  margin: 0;
  min-width: 1440px;
  display: flex;
  flex-direction: column;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.title {
  margin: 0;
  padding: 0;
}

.title-item {
  font-family: Rubik, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

/* buttons -------------------------------------------------------------------------------------- */

.button {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  font-family: Raleway, sans-serif;

  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;

  border: none;
  background-color: #00000000;
  color: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.button::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.button--solid {
  font-size: 18px;
  line-height: 21px;
}

.button--solid::before {
  z-index: -1;
  content: "";
  position: absolute;
  background-color: #ffc700;
  width: 100%;
  height: 8px;
}

.button--solid:focus::before {
  background-color: #af4fff;
}

.button--solid:hover::before {
  background-color: #ffc700;
  height: 100%;
}

.button--solid:active {
  color: #00000030;
}

/* border ----------------------------------------------------------------------------- */

.button--border {
  font: 16px;
  line-height: 19px;
}

.button--border::before {
  z-index: -1;
  content: "";
  position: absolute;
  background-color: #00000000;
  border: 3px solid #00000010;
  width: 100%;
  height: 100%;
}

.button--border:focus::before {
  border: 5px solid #af4fff;
}

.button--border:hover::before {
  border: 3px solid #000000;
}

.button--border:active {
  color: #00000030;
}

.button--border:active::before {
  border: 3px solid #00000030;
}

/* round ---------------------------------------------------------------------------------- */

.button--icon-round {
  align-self: center;
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #dcdcdc50;
  border-radius: 50%;
}

.icon--round {
  opacity: 30%;
  margin: 0 auto;
}

/* link-action ------------------------------------------------------------------------ */

.action {
  box-sizing: border-box;
  position: relative;
  fill: inherit;
}

.action::before {
  content: "";
  display: block;
  position: absolute;
}

.action:focus::before {
  border: 5px solid #af4fff;
  border-radius: 50%;
}

/* form ---------------------------------------------------------------------------------- */

.form {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.form--input {
  border: 0;
  background-color: #00000000;
}

.link {
  color: inherit;
  text-decoration: none;
}

.title {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.icon {
  background-repeat: no-repeat;
  align-self: center;
  background-position: center;
}

/* хедер----------------------------------------------------------------- */

.main-header {
  padding-top: 38px;
}

.main-header--container {
  width: 1160px;
  min-height: 209px;
  margin: 0 auto;
  background-color: #ffe17f;
  color: #000000;
  box-sizing: border-box;
  padding: 50px 60px;
  padding-bottom: 38px;
}

.main-header--logo {
  position: absolute;
  top: 17px;
  margin: 0;
}

.navigation-user {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.navigation-user--form {
  position: relative;
  right: 16px;
  width: 516px;
  min-height: 40px;
  display: flex;
  margin-right: 24px;
}

.navigation-user--form:focus {
  outline: 2px solid #af4fff;
}

.navigation-user--form:active {
  outline: 2px solid #000000;
}

.navigation-user--form:active,
.navigation-user--form:focus {
  outline: 2px solid #000000;
  border-radius: 20px;
}

.navigation-user--icon-user {
  margin-right: 12px;
}

.navigation-user--icon-search {
  margin-left: 16px;
}

.navigation-user--input-search {
  font-size: 16px;
  line-height: 19px;
  margin-left: 20px;
  width: 100%;
  color: #00000030;
}

.navigation-user--input-search:hover {
  color: #00000060;
}

.navigation-user--input-search:focus {
  outline: none;
  color: #00000030;
}

.navigation-user--input-search:active {
  color: #000000;
}

.navigation-user--input-search:active,
.navigation-user--input-search:focus {
  color: #000000;
}

.navigation-user--login {
  display: flex;
  align-items: center;
  width: 220px;
  min-height: 21px;
}

.login--link + .login--link {
  margin-left: 30px;
}

.navigation-user--list {
  align-items: center;
  width: 275px;
  min-height: 21px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.navigation-user--item {
  margin-left: 15px;
}

.navigation-user--icon-compare {
  margin-right: 10px;
}

.navigation-user--icon-chart {
  margin-right: 10px;
}

.navigation-main {
  display: flex;
  justify-content: space-between;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.navigation-main--list1 {
  width: 500px;
  display: flex;
  margin: 0;
  margin-top: 29px;
  padding: 0;
  min-height: 50px;
  align-items: center;
}

.navigation-main--link {
  margin: 0;
  padding: 0;
}

.navigation-main--item {
  display: flex;
  align-items: center;
}

.link--catalog {
  position: relative;
  right: 15px;
  padding: 15px;
}

.navigation-main--icon-plus {
  position: relative;
  right: 15px;
  padding: 17px;
  border-radius: 50%;
  border: 2px solid #000000;
  opacity: 30%;
  vertical-align: middle;
}

.navigation-main--list2 {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0;
  margin-top: 29px;
  padding: 0;
  min-height: 50px;
  align-items: center;
}

.navigation-main--list2 .navigation-main--item {
  margin-right: 19px;
}

.navigation-main--list2 .navigation-main--item:last-child {
  margin-left: auto;
  margin-right: 0;
}

.navigation-main--container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: space-between;
}

/* слайдер-------------------------------------------------------------------------- */

.slider--item {
  display: flex;
  min-height: 560px;
}

.description--title {
  margin: 0 auto;
  margin-top: 124px;
}

.description--text {
  margin: 0 auto;
  margin-top: 19px;
}

.description--button {
  width: 220px;
  height: 50px;
  margin-top: 30px;
}

.slider-table {
  border-spacing: 20px;
  margin-top: 50px;
  margin-left: -20px;
  margin: 50px -20px -20px -20px;
}

.slider-table th {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.slider-table td {
  font-size: 36px;
  line-height: 30px;
}

.slider--photo-pagination-list {
  display: flex;
  justify-content: space-between;
  width: 80px;
  list-style: none;
}

.photo-pagination--button {
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

.photo-pagination--button.active {
  background-color: #000000;
}

/* категории---------------------------------------------------------------- */

.categories {
  min-height: 253px;
  margin: 0;
  padding: 0;
}

.categories--img-container {
  display: flex;
  background-color: #ffe17f;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
}

.categories--icon {
  margin: 0 auto;
}

.categories--icon-monopod {
  align-self: flex-end;
}

.categories--list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories--item {
  width: 160px;
  font-family: Raleway, sans-serif;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: 800;
}

/* сервисы-------------------------------------------------------------------- */

.servises {
  position: relative;
  margin-top: 69px;
}

.servises::before {
  box-sizing: border-box;
  z-index: -1;
  position: absolute;
  content: "";
  min-height: 275px;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  top: 113px;
}

.servises--container-flex {
  padding-top: 100px;
  display: flex;
}

.servises--list {
  margin-left: 116px;
  width: 876px;
}
.servises--item {
  background-repeat: no-repeat;
  background-position: right;
}

.servises--delivery {
  background-image: url("../img/other/servises-delivery.svg");
}

.servises--guarantee {
  background-image: url("../img/other/servises-warranty.svg");
}

.servises--credit {
  background-image: url("../img/other/servises-credit.svg");
}

.servises--title {
  margin: 0;
  padding: 0;
}

.servises--content {
  color: #444444;
  width: 497px;
  margin-top: 41px;
}

.servises--pagination-servis {
  position: relative;
  list-style: none;

  margin: 0;
  padding: 0;
}

.pagination-servis--item {
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  width: 280px;
}

.servises--pagination-button {
  width: 160px;
  min-height: 40px;
}

.servises--pagination-button:active {
  color: #ffe17f;
  opacity: 100%;
}

.servises--pagination-button:active::before {
  background-color: #000000;
  left: 0;
  width: 280px;
}

.servises--pagination-servis::after {
  position: absolute;
  display: block;
  content: "";
  background: #000000;
  width: 7px;
  height: 319px;
  margin: 0;
  padding: 0;
  top: -100px;
  left: 280px;
}

/* о нас--------------------------------------------------------------- */

.container--about-us {
  width: 1160px;
  margin: 0 auto;
  margin-top: 203px;
  min-height: 936px;
}

.about-us--container-flex {
  display: flex;
}

.about-delivery {
  display: flex;
  min-height: 100px;
  margin-top: 90px;
  margin-bottom: 90px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  background-color: #f0f0f0;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.button-info {
  margin-right: 30px;
}
.about-delivery--icon-container {
  display: flex;
  min-width: 125px;
  background-color: #ffe17f;
}

.about-delivery--icon {
  margin: 0 auto;
}

.about-delivery--link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: 0 auto;
  min-height: inherit;
}

.about-us {
  width: 560px;
  margin-right: 40px;
}

.about-us--list {
  margin-left: 20px;
  list-style: disc;
  color: #ffe17f;
}

.about-us--item {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.about-us--item--color-text {
  color: #000000;
}

.about-us--button {
  height: 50px;
  width: 260px;
}

.mian-contacts {
  width: 560px;
}

.address-box--text {
  font-style: normal;
  margin: 0;
  padding: 0;
}

.phone-number {
  color: #000000;
  font-style: normal;
}

.shedule--button {
  height: 50px;
  width: 260px;
}

.appointment {
  min-height: 421px;
  box-sizing: border-box;
  padding-top: 75px;
  color: #000000;
  background-color: #f0f0f0;
}

.appointment--container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.appointment--title {
  width: 560px;
  margin-right: 40px;
}

.appointment--content {
  width: 560px;
}

.appointment--form {
  display: flex;
  height: 55px;
  align-self: center;
}

.appointment--input {
  border-bottom: 3px solid #00000010;
  width: 595px;
  font-size: 18px;
  line-height: 30px;
  color: #44444450;
  opacity: 0.5;
}

.appointment--button {
  width: 260px;
  height: 55px;
}

.appointment--its-free {
  margin-left: auto;
  font-weight: 400;
}

.appointment--icon-its-free {
  margin-right: 21px;
}

.appointment--its-free b {
  font-weight: normal;
}

/* футер ------------------------------------------------------------*/

.main-footer {
  min-height: 321px;
  color: #ffffff;
  background-color: #444444;
}

.main-footer--container {
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
  padding-top: 62px;
}

.main-footer--container-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 35px;
}

.main-footer--address {
  font-size: 16px;
  line-height: 19px;
  width: 238px;
  font-family: Rubik;
  margin: 0;
  padding: 0;
}

.main-footer--servises {
  min-width: 458px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.footer-servises--list {
  display: flex;
  justify-content: space-between;
}

.main-footer--phone-number {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.main-footer--container-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 49px;
}

.main-footer--container-social::before {
  content: "";
  display: block;
  margin-right: 170px;
  background-color: #ffc700;
  width: 80px;
  height: 7px;
}

.main-footer--list {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  min-width: 150px;
}

/* каталог ------------------------------------------------------------*/
.inner--header {
  width: 1160px;
  margin: 0 auto;
}

.inner-header--breadcrumbs {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.6;
  margin-bottom: 49px;
}

.inner-header--title {
  margin-top: 37px;
  margin-bottom: 14px;
}

.breadcrumbs--list {
  display: flex;
}

.breadcrumbs--item {
  margin-right: 17px;
}

.breadcrumbs--item::after {
  content: ">";
  margin-left: 17px;
  opacity: 20%;
}

.breadcrumbs--item:last-child::after {
  content: none;
}

.main-inner--container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

/* .main-inner--container::before{
  background-color: #ebebeb;
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
} */

.filter-items--container-title {
  width: 328px;
  background-color: #dcdcdc;
  padding-left: 60px;
  box-sizing: border-box;
}

.filter-item--title {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 70px;
  text-transform: uppercase;
  color: #000000;
}

.filter-items--container-form {
  padding-left: 60px;
  padding-top: 71px;
  padding-right: 68px;
  box-sizing: border-box;
  width: 328px;
  height: 100%;
  background-color: #ebebeb;
}

.form-items--group {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  border: none;
}

.form-title {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.form-title::before {
  content: "";
  display: block;
  border-bottom: 2px solid #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  width: 200px;
}

.form--range-text {
  font-family: Rubik, sans-serif;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.form-items--button {
  width: 100%;
  height: 40px;
}

/* блок товаров -------------------------------------------------- */

.items--sort {
  outline: 1px solid red;
  background-color: #ebebeb;
  padding-left: 72px;
}

.items--container {
  outline: 1px solid red;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort--title {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  text-transform: uppercase;
}

.sort-link--container {
  width: 41px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.sort--form-group {
  margin: 0;
  padding: 0;
  border: none;
}

.items--cards {
  padding-left: 72px;
  padding-top: 69px;
  padding-bottom: 44px;
}

.cards--list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
}

.cards--table {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 32px;
}

.cards--title {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 280px;
}

.cards--price {
  margin: 0;
  padding: 0;
  text-align: end;
  font-family: Rubik, sans-serif;
  flex-grow: 1;
}

.pagination {
  margin-left: 72px;
}

.pagination--button {
  width: 754px;
  min-height: 49px;
}

.select-pagination {
  margin: 0;
  padding: 0;
  padding-left: 29px;
  padding-right: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 77px;
  margin-top: 51px;
  width: 760px;
  min-height: 70px;
  background-color: #ebebeb;
}

.select-pagination--list {
  display: flex;
  justify-content: space-between;
  min-width: 169px;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.3;
  margin: 0;
  padding: 0;
}

.select-pagination--link--prev,
.select-pagination--link--next {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
