@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

/* главная */

body {
  margin: 0;
  min-width: 1440px;
  display: flex;
  flex-direction: column;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.list {
  margin: 0;
  padding: 0;
}

.title-item {
  font-family: Rubik, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.main-header {
  padding-top: 17px;
}

.main-header--container {
  width: 1160px;
  margin: 0 auto;
  background-color: #ffe17f;
  color: #000000;
}

.navigation-user {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  font-size: 16px;
}

.navigation-user--user-form {
  width: 516px;
  display: flex;
}

.user-form--search {
  width: 480px;
}

.navigation-user--login {
  display: flex;
  width: 245px;
}

.navigation-user--list {
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation-main {
  padding: 0 60px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.navigation-main--list {
  justify-content: space-between;
  display: flex;
  margin: 0;
  padding: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

.title {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.slider--item {
  display: flex;
}

.slider-table th {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.slider-table td {
  font-size: 36px;
  line-height: 30px;
}

.categories {
  min-height: 253px;
}

.categories--list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories--item {
  width: 160px;
  font-family: Raleway, sans-serif;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: 800;
}

.servises {
  border: inherit;
  min-height: 388px;
  outline-offset: inherit;
  background-color: #f0f0f0;
  color: #000000;
}

.conteiner-flex {
  display: flex;
}

.servises--list {
  margin: 0;
  padding: 0;
}

.servises--content {
  width: 497px;
}

.servises--pagination-srvis {
  width: 360px;
  margin: 0;
  padding: 0;
  order: -1;
  margin-right: 40px;
}

.link-button {
  border: 0;
  background-color: #00000000;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.link-button--current {
  font-family: Raleway, sans-serif;
  line-height: 21px;
  font-weight: 800;
  background-color: #000000;
  color: #ffe17f;
}

.link-button2 {
  border: 3px solid #00000010;
  background-color: #00000000;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.container--about-us {
  width: 1160px;
  margin: 0 auto;
  min-height: 936px;
}

.about-delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  margin-top: 90px;
  margin-bottom: 90px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  background-color: #f0f0f0;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.about-us {
  width: 560px;
  margin-right: 40px;
}

.about-us--item {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.about-us--link-button {
  margin-top: auto;
}

.mian-contacts {
  width: 560px;
}

.adddress-box--text {
  font-style: normal;
}

.phone-number {
  color: #000000;
  font-style: normal;
}

.shedule--link-button {
  margin-top: auto;
}

.appointment {
  min-height: 421px;
  color: #000000;
  background-color: #f0f0f0;
}

.appointment--container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.appointment--title {
  width: 560px;
  margin-right: 40px;
}

.appointment--content {
  width: 560px;
}

.appointment--input-email {
  min-width: 601px;
}

.appointment--link-button2 {
  min-height: 55px;
  min-width: 260px;
}

.appointment--its-free {
  margin-left: auto;
  font-weight: 400;
}

.appointment--its-free b {
  font-weight: normal;
}

/* футер */

.main-footer {
  min-height: 321px;
  color: #ffffff;
  background-color: #444444;
}

.main-footer--container {
  width: 1160px;
  margin: 0 auto;
}
.main-footer--container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer--container-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer--list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.main-footer--adddress-box {
  font-size: 16px;
  line-height: 19px;
  width: 238px;
  font-family: Rubik;
}

.main-footer--phone-number {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.main-footer--servises {
  min-width: 458px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.footer-servises--list {
  display: flex;
  justify-content: space-between;
}

/* каталог ------------------------------------------------------------*/
.inner--header {
  margin: 0 auto;
  margin-left: 200px;
  margin-bottom: 49px;
}

.inner-header--breadcrumbs {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.6;
}

.breadcrumbs--list {
  display: flex;
}

.main-inner {
  display: flex;
  margin: 0;
  padding: 0;
}

.filter-items {
  width: 468px;
  background-color: #ebebeb;
}

.filter-items--container-title {
  background-color: #dcdcdc;
  min-height: 70px;
}

.filter-item--title {
  width: 468px;
  margin: 0;
  margin-left: 200px;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.filter-items--container-form {
  margin-left: 200px;
}

.form-items--group {
  margin: 0;
  padding: 0;
  border: none;
}

.form--group {
  margin: 0;
  padding: 0;
  border: none;
}

.form-title {
  margin: 0;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.form--range-text {
  font-family: Rubik, sans-serif;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.items {
  flex-grow: 1;
}

.items--sort {
  min-height: 70px;
  background-color: #ebebeb;
}

.items--container {
  display: flex;
  justify-content: space-between;
  margin-left: 72px;
  margin-right: 140px;
}

.sort--title {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  text-transform: uppercase;
}

.items--cards {
  margin-right: 140px;
  margin-left: 72px;
}

.cards--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
  gap: 40px;
}

.cards--item {
  margin: 0;
  padding: 0;
}

.cards--title {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.cards--price {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.pagination {
  display: flex;
  flex-direction: column;
  margin-left: 72px;
  margin-right: 140px;
}

.pagination--link-button2 {
  text-align: center;
  border: 3px solid #00000010;
  background-color: #00000000;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 754px;
  margin: 0 auto;
  min-height: 49px;
}

.select-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 77px;
  margin-top: 51px;
  width: 760px;
  min-height: 70px;
  background-color: #ebebeb;
}

.select-pagination--list {
  display: flex;
  justify-content: space-between;
  min-width: 169px;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.3;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-right: 140px;
}

.select-pagination--link--prev,
.select-pagination--link--next {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.select-pagination--link--prev {
  margin-left: 29px;
}

.select-pagination--link--next {
  margin-right: 30px;
}
